$mobileWidth: 768px;
$mobileIphone5: 320px;
*,
  :after,
  :before {
    box-sizing: border-box;
  }
@media only screen and (max-width: $mobileWidth) {
  .displayFlex {
    // display: grid !important;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
      border: none!important;
      margin-left: 0!important;
      padding-left: 0!important;

    }
  }
}

.CrossSell {
  max-width: 1280px;
  margin: 42px auto;
  display: flex;
  flex-wrap: wrap;
  .Card{
    background-color: var(--p-surface, white);
    box-shadow: var(--p-card-shadow, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15));
    outline: 0.1rem solid transparent;
    width: 100%;
    @media (min-width: 30.625em){
      border-radius: var(--p-border-radius-wide, 3px);
    }
  }
  .Section{
    border-top-left-radius: var(--p-border-radius-wide, 3px);
    border-top-right-radius: var(--p-border-radius-wide, 3px);
    padding: 1.6rem;
    width: 100%;
    @media (min-width: 30.625em){
        padding: 2rem;
    }
  }
  .Title{
    font-size: 23px;
    font-weight: 600;
    // color: #212529;
  }
  @media (min-width: 46.5em) {
    padding: 0 3.2rem;
  }

  @media (min-width: 30.625em) {
    padding: 0 2rem;
  }

}

.displayFlex {
  display: flex;
  justify-content: space-between;
  a:hover {
    text-decoration: none;

    .uiAppCard {

      // .uiAppCardIcon {
      //   -webkit-box-shadow: 1px 2px 14px 8px #c4cdd5;
      //   box-shadow: 1px 2px 14px 8px #c4cdd5;
      // }

      .uiAppCardName {
        color: #5c6ac4;
      }
    }
  }

  a {
    padding: 10px;
    text-decoration: none;
    border-right: 1px solid #dfe5eb;
    cursor: pointer;
    margin-left: 10px;
    &:first-child{
      margin-left: 0;
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
      border-right: unset!important;
    }
    .uiAppCard {
      display: -ms-inline-grid;
      display: inline-grid;
      -ms-grid-columns: 58px 0 30px 0 auto 0 1fr;
      grid-template-columns: 58px 30px auto 1fr;
      grid-column-gap: 0;
      grid-template-areas: "icon icon name name""icon icon context context""icon icon tagline tagline""icon icon rating rating";
      max-width: 350px;
      color: #637381;

      img {
        height: 72px;
        width: 72px;
      }

      .uiAppCardIcon {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 7;
        grid-area: icon;
        height: 72px;
        width: 72px;
        min-width: 72px;
        // -webkit-box-shadow: 1px 2px 14px 1px #c4cdd5;
        // box-shadow: 1px 2px 14px 1px #c4cdd5;
        border-radius: 6px;
        background-color: #ffffff;
        overflow: hidden;
      }

      .uiAppCardName {
        font-weight: bold;
        font-size: 1.125em;
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-area: name;
        -ms-flex-item-align: center;
        align-self: center;
        -ms-grid-row-align: center;
        margin: 0;
      }

      .uiAppCardDetails {
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-area: tagline;
        margin: 4px 0 0;
      }
      .uiAppCardDetailsHighly{
        color: #bf0711;
      }
    }
  }
}
