.OnOff {
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  input {
    display: none;
    &:checked {
      + .Slider {
        background-color: var(--ak-bg-on-off, #008060);
        background-image: var(--ak-bg-image-on-off);
      }
      + .Slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
      }
    }
    &:focus {
      + .Slider {
        box-shadow: 0 0 1px #2196f3;
      }
    }
  }
  .Slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #919eab;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
    &:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      bottom: 0;
      background-color: white;
      border: 1px solid #e1e2e1;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      top: 2px;
      left: 2px;
      border-radius: 50%;
    }
    .Left {
      text-align: left;
      width: 100%;
      padding-left: 8px;
        font-size: 10px;
    }
    .Right {
      text-align: right;
      width: 100%;
      padding-right: 8px;
        font-size: 10px;
    }
  }
}

.sizeLarge {
  width: 55px;
  height: 20px;
  input {
    &:checked {
      + .Slider:before {
        -webkit-transform: translateX(35px);
        -ms-transform: translateX(35px);
        transform: translateX(35px);
      }
    }
  }
  .Slider {
    .Left {
      padding-left: 9px;
      font-size: 12px;
    }
    .Right {
      padding-right: 9px;
      font-size: 12px;
    }
  }
}

.sizeMedium {
  width: 48px;
  height: 20px;
  input {
    &:checked {
      + .Slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
      }
    }
  }
  .Slider {
    .Left {
      padding-left: 8px;
      font-size: 10px;
    }
    .Right {
      padding-right: 8px;
      font-size: 10px;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

