.Backdrop {
  position: fixed;
  z-index: 518;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: var(--p-backdrop, rgba(33, 43, 54, 0.4));
  animation: fade-in 0.2s 1 forwards;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.transparent {
  background-color: transparent;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
